@model HotwireTest.Pages.IndexModel

<turbo-frame id="exanmple-frame">
	<input type= "text"  placeholder="ben burdayım beni gör"  />
	  <a class="z-0 trapezoid" asp-page="/_Section1" asp-page-handler="SectionOne" class="link-button-primary ml-2">Section One Gel </a>
		  <a class="z-0 trapezoid" asp-page="/_Section1" asp-page-handler="SectionOne" class="link-button-primary ml-2">Section One Gel </a>
			  <a class="z-0 trapezoid" asp-page="/_Section1" asp-page-handler="SectionOne" class="link-button-primary ml-2">Section One Gel </a>
</turbo-frame>